.alert span {
    /* background-color: #fed3d3; */
    color:red;
    /* padding: 1rem;
    margin-bottom: 1rem; */
  }

  #ip{
    border-radius: 15px;
    padding: 20px; 
    width: 200px;
    height: 0px;   
}